<div class="container mt-5  ">
  <div class="row text-center justify-content-center">
    <div class="col-md-6 ">
      <ul
        *ngFor="let img of images2; let i = index"
        (click)="RowSelected(img, i)"
      >
        <li>{{ img.title | titlecase }}</li>
      </ul>
      <button type="button" class="btn btn-info" (click)="addTitle()">
        Add Post
      </button>
    </div>
    <div class="col-md-6">
      <div class="row mt-5 justify-content-center">
        <div class="col-md-10 offset-md-2">
          <ng-container *ngIf="detailsRow">
            <app-post-details
              (emitPost)="deleteTitle1($event)"
            ></app-post-details>
          </ng-container>

          <ng-container *ngIf="titleRow">
            <div class="card text-center">
              <div class="card-header">
                <p>Add Post</p>
              </div>
              <div class="card-body">
                <form #forms="ngForm" (ngSubmit)="onSubmit(forms)">
                  <div class="row">
                    <div class="col-sm-12 form-group">
                      <div class="row">
                        <div class="col-sm-3">
                          <label for="title">Title</label>
                        </div>
                        <div class="col-sm-9">
                          <input
                            type="text"
                            id="text"
                            class="form-control"
                            name="title"
                            ngModel
                            required
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                                        <div class="col-sm-12 form-group">
                      <div class="row ">
                        <div class="col-sm-3">
                          <label for="image">Image</label>
                        </div>
                        <div class="col-sm-9">
                          <input
                            type="file"
                            id="image"
                            class="form-control"
                            name="image"
                            ngModel
                         (change)="upload($any($event.target).files)"
                          multiple="multiple"
                          />
                          <br>
                          <div class="row text-center">
                            <div class="col-sm-12">
                              <img  width="50%" *ngIf="imageUrl" [src]="imageUrl" class="image">

                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-success">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
